// Logo

.logo__link:not(.aux) {
  background-image: none;
}

// Header

#body-home #header {
  .contact {
    animation: show-from .5s 1.25s both;
  }
}


// Sections

#centros {
  .box__title > strong {
    color: $gray;
  }
}

.box__title--list,
.type-category h1 ~ .box .image {
  display: none;
}

// Ayudas

#body-page-ayudas {
  .md__figure {
    display: inline-block;
    margin-inline: .5em;
    @include fluid-size(width, 1px, 288, 330);
  }
}
